* {
    margin: 0;
    padding: 0;
   
}
body {
    background-color: rgb(14, 126, 255);
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: rgb(255, 0, 0);
    background-color: aqua;
}
#reset {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #000000;
    color: #fff;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
#new_btn {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #000000;
    color: #fff;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 20vmin;
}
.hide{
    display: none;
}