@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
   justify-content:center;
   gap: 3rem;
}
.search{
    display: flex;
    width: 50%;
}
.search input {
    padding: 0.5rem 1rem;
    width: 100%;
}
.search input:focus-visible{
    outline: 1px solid rgb(51, 1, 251);
}
.primary-btn {
    background: rgb(7, 48, 230);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
}
.primary-btn:hover{
    background: #242a97;
}
.primary-btn:active{
    background: #06e6f6;
}


.profile-box{
    padding: 4rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.profile-box:hover{
    transform: rotate(-2deg) scale(1.01);
    transition: 0.5s ease-in;
}
.top-section{
    display: flex;
    justify-content: space-between;
}
.top-section button{
    align-self: center;
}
.left{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.left h1{
    font-size: 1.6rem;
}
.avatar{
    height: 10rem;
    width: 10rem;
}
.avatar img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.about{
    margin: 2rem;
}
.status{
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}
.status-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
