@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34ace0;
}
.box{
    width: 600px;
    min-height: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
#item{
    padding: 10px;
    font-size: 15px;
    width: 100%;
    border: 0;
    outline: 0;
    display: block;
    font-weight: bold;
    box-shadow: 0px 0px 2px gray;
}
#to-do-box{
    margin-top: 20px;
    list-style: none;
}
#to-do-box li {
   background-color: #4cd137;
   color: #fff;
   padding: 10px;
   border-radius: 2px;
   padding-right: 30px;
   text-align: justify;
   margin-top: 10px;
   user-select: none;

}
#to-do-box li i{
    position:absolute; 
    right: 10px;
    top: 10px;
}
.done {
    text-decoration: line-through;
    color: black;
    background-color: #95a5a6 !important;
}